Package: $NAME
Version: $VERSION
Section: base
Priority: optional
Architecture: all
Depends: libsqlite3-0 (>= 3.16.2), libvlccore8(>= 2.2.6)
Maintainer: Kevin Leptons<kevin.leptons@gmail.com>
Description: Development tools
