Package: $NAME
Version: $VERSION
Section: base
Priority: optional
Architecture: all
Depends: libsqlite3-0 (>= 3.16.2), libboost (>= 1.65.1), vlc
Maintainer: Kevin Leptons<kevin.leptons@gmail.com>
Description: Media file player
